<h1>首頁</h1>
<p>40923235</p>
<h2>叫出編輯器</h2>
<ol>
<li>cd tmp/cp2020/cmsimde</li>
<li>python wsgi.py</li>
</ol>
<h2>PUSH步驟</h2>
<ol>
<li>ctrl+c</li>
<li>cd..</li>
<li>git pull</li>
<li>git add .</li>
<li>git commit -m "initial add"</li>
<li>git push</li>
<li>帳號密碼</li>
</ol>
<p></p>
<h1>Strategies for Learning學習策略</h1>
<p>PC Hardware is an online course, where the content will be presented in the form of both text and activities.</p>
<p>PC Hardware是一在線課程，它的內容將以文本和活動的方式呈現。</p>
<p>While you will have more flexibility than in a traditional course, you will also have more responsibility for your own learning. You will need to:</p>
<p>與傳統課程相比，你將擁有更多的彈性，但同時也將對自己的學習承擔更多責任。你需要：</p>
<p>Plan how to work through each unit.<br/>計劃如何利用每個單元。<br/>Determine how to use the various features of the course to help you learn.<br/>學習如何使用課程中的不同功能來幫助你學習。<br/>Decide when you need to seek additional support.<br/>確定何時需要尋求其他幫助</p>
<h2>What You Need to Know About the Course您需要了解的課程內容</h2>
<p>This course contains multiple modules. Each module has features designed to support you as an independent learner, including:<br/>本課程包含多個模板。每個模板均具有旨在支持你作為獨立學習者的功能，包括:<br/>Learning Objectives: These are descriptions of what you should be able to do at the end of a section. A Learning Objective will allow you to direct your learning efforts and enable your progress a you to monitor s you explore the content and engage in the activities.<br/>學習目標：這些是描述本節最後應該做的事情。學習目標將指導你能夠努力學習，並監控探索內容和參與活動的進度。<br/>Explanatory Content: This is the informational “meat” of every chapter. Consisting of short passages of text with information, examples, images, and explanations, this explanatory content contains pieces such as:<br/>解釋內容：這是每章的信息性“內容”。由簡短的段落，信息，示例，圖像和說明組成，此說明性內容包含以下內容： <br/>Walk-throughs: These are videos embedded in the pages to exemplify the concepts you are exploring. They may provide a more detailed explanation of a topic or guide you through the steps of a process.<br/>演練：這些是嵌入在頁面中的視頻，以例證你所探索的概念。他們可能會提供有關主題的更詳細說明，或指導你完成流程的每個步驟。<br/>Examples: Designed to illustrate specific applications of the skills and learning objectives that the course supports you to achieve.<br/>範例：說明該課程支持你實現的技能和學習目標的應用。<br/>Labs: Simulations and lab activities designed to give you an opportunity to interact with various hardware elements.<br/>實驗室：模擬和實驗室活動旨在為您提供與各種硬件元素進行交互的機會。<br/>Many Students Wonder sidebars: These sidebars serve two purposes:</p>
<p><span>許多學生都想知道側邊欄：這些側邊欄有兩個目的：</span></p>
<p>(1) to give a quick review of concepts, such as "highly specialized input devices," that are used in the PC Hardware material and</p>
<p><span>（1）快速回顧概念，例如PC硬件材料中使用的“高度專業化的輸入設備”</span></p>
<p> (2) to provide additional material or background information that you may find surprising and interesting but that is not going to be assessed in the Quiz.</p>
<p>（2）提供其他材料或背景信息您可能會發現令人驚訝和有趣的東西，但是測驗中不會對此進行評估。</p>
<p>Learning Activities: There are different types of activities interspersed throughout the course. They include:</p>
<p><em class="bold" lang=""><em class="italic" lang=""><span>學習活動：</span></em></em><span><span>整個課程中擁有著不同類型的活動。</span><span>它們包括：</span></span><br/>Learn By Doing activities: Learn By Doing activities follow the short explanations and examples. These activities give you the chance to investigate and practice key ideas. Learn By Doing activities have hints and feedback to guide you if you need it.</p>
<p><em class="italic" lang=""><span>邊做邊學的活動：邊做邊</span></em><span>學的活動遵循簡短的說明和示例。這些活動使你有機會研究和實踐關鍵思想。邊做邊學活動有提示和反饋，以在需要時指導你。</span><br/>Did I Get This? activities: Did I Get This? activities are your chance to do a quick "self-check." These activities do not have hints, and often follow a Learn by Doing activity so that you can determine if you understand the key ideas. This will help you make sure you are ready for graded activities.</p>
<p><em class="italic" lang=""><span>我明白了嗎？活動：</span></em><span>我明白了嗎？活動是你進行快速進行“自我檢查”的機會。這些活動沒有提示，通常會跟著“邊做邊學”的活動，以便你確定自己是否了解關鍵思想。這將幫助你確保已準備好進行分級活動。</span><br/>Quizzes: These are short assignments that are graded. There is a Quiz at the end of each Module. The Quiz will show you and your instructor how well you understand the key concepts. If you read the information and do the activities in each Module, you should be ready for the Quiz.</p>
<p><em class="italic" lang=""><span>測驗：</span></em><span>這些是評分的短期作業。每個模板的末端都有一個測驗。測驗將向你和你的老師展示你對關鍵概念的理解程度。如果你閱讀了該信息並在每個模板中進行了活動，那麼你應該已經做好準備。</span><br/>Metacognitive Activities: These activities are designed to support your development as an independent learner, encouraging you to reflect on your progress and plan for continuing success. These activities include:</p>
<p><em class="bold" lang=""><em class="italic" lang=""><span>認知活動：</span></em></em><span><span>這些活動旨在支持你成為獨立學習者的發展，鼓勵你反思自己的進步併計劃繼續取得成功。</span><span>這些活動包括：</span></span></p>
<p>My Response activities: These short activities are located at the end of the module; they encourage you to reflect on your progress through the module and estimate how well you believe you've attained the module's learning objectives. These activities also provide a place to share continuing questions and areas of difficulty (if you're using the course in conjunction with an instructor, your questions will be shared with your instructor).</p>
<p><em class="italic" lang=""><span>我的反應活動：</span></em><span>這些簡短的活動位於模板的末端；他們鼓勵你反思本單元的學習進度，並估計你認為自己達到本單元學習目標的程度。這些活動還提供了一個分享繼續存在的問題和困難領域的地方（如果你與講師一起使用本課程，你的問題將與講師分享）。</span></p>
<p>Checkpoints: These activities are located across the course after sections of content that can be particularly challenging or require additional practice. These metacognitive checkpointsencourage you to review your progress so far and assess yourself: are you ready to continue, or do you believe you need additional materials, practice, or self-assessment? If you feel that you're not ready to proceed, these checkpoints provide links to additional learning materials.</p>
<p><em class="italic" lang=""><span>檢查點：</span></em><span>這些活動位於課程的各個部分之後，這些部分可能特別具有挑戰性或需要其他練習。這些元認知</span><span class="term" lang=""><span>檢查點可以</span></span><span>鼓勵你回顧至今為止的進展並進行自我評估：你準備好繼續嗎?</span><span>還是你認為你需要其他材料，練習或自我評估？如果你感覺還沒有準備好繼續，可以使用這些檢查點來鏈接到其他學習資料。</span></p>
<p><br/>Develop<br/>https://github.com/mdecourse/cmsimde 的開發, 可以在一個目錄中放入 cmsimde, 然後將 up_dir 中的內容放到與 cmsimde 目錄同位階的地方, 使用 command 進入 cmsimde 目錄, 執行 python wsgi.py, 就可以啟動, 以瀏覽器 https://localhost:9443 就可以連接, 以 admin 作為管理者密碼, 就可以登入維護內容.</p>
<p>cmsimde 的開發採用 Leo Editor, 開啟 cmsimde 目錄中的 cmsimde.leo 就可以進行程式修改, 結束後, 若要保留網際內容, 只要將 cmsimde 外部的內容倒回 up_dir 目錄中即可後續對 cmsimde 遠端倉儲進行改版.</p>
<p>init.py 位於 up_dir 目錄, 可以設定 site_title 與 uwsgi 等變數.</p>
<p>sssss</p>